.app-title-container{
  background-color: white;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 3px double black;
}

.app-title{
  text-align: center;
  margin:0;
}

.main-emoji-container{
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4);
}

.main-emoji{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.emoji-container{
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}

.emoji-item{
  font-size: 40px;
  margin: 10px;
  cursor: pointer;
}

.emoji-item:hover{
  transform: scale(1.4);
}

.emoji-editor-container{
  display: flex;
  justify-content: space-around;
}

.colors-container{
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  padding: 10px;
  border-radius: 30px;
  margin-top: 100px;
}

.color-item{
  border: 1px solid gray;
  border-radius: 5px;
  width: 60px;
  height: 40px;
}

.color-item:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.bg-red{
  background-color: red;
}

.bg-purple{
  background-color: purple;
}

.bg-pink{
  background-color: pink;
}

.bg-yellow{
  background-color: yellow;
}

.bg-black{
  background-color: black;
}

.size-container{
  background-color: white;
  width: 500px;
  height: 40px;
  padding: 10px;
  border-radius: 30px;
  margin-top: 50px;
}

.size-slider{
  width: 100%;
}